header {
  background-color: #000000; }
  header nav img {
    width: 180px;
    height: 300px; }
  header nav a {
    color: #ffffff; }

.white-color {
  color: #ffffff !important; }
  .white-color div {
    margin: auto;
    width: 50px;
    padding: 30px; }
  .white-color ul, .white-color li {
    margin: 0%;
    padding: 0%;
    list-style: none; }
  .white-color ul.slider {
    position: relative;
    width: 50px;
    height: 10px; }
  .white-color ul.slider li {
    position: absolute;
    left: 0%;
    top: 0%;
    opacity: 0;
    width: auto;
    height: auto;
    transition-duration: 5s; }
  .white-color ul.slider li img {
    width: 300%;
    height: 500%;
    object-fit: cover; }
  .white-color ul.slider li :first-child {
    opacity: 1; }

.mk-footer-img {
  max-width: 50px;
  max-height: 50px;
  min-width: 25px;
  min-height: 25px; }

footer {
  background-color: #000000; }
  footer h3 {
    text-align: center;
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

footer h6 {
  text-align: center;
  color: #ffffff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

.mk-img-carousel {
  background-size: cover; }

.mk-carousel-section {
  background-color: #000000; }

.mk-contenedor {
  display: grid;
  background-color: #000000;
  grid-template-areas: "encabezado" "cuerpo-izq" "cuerpo-der";
  justify-content: center; }
  .mk-contenedor ul {
    list-style-type: none;
    display: inline-block; }
  .mk-contenedor li {
    float: left; }
    .mk-contenedor li img {
      padding: 5px 5px 5px 5px;
      width: 110px;
      height: 110px; }
  .mk-contenedor h3 {
    text-align: center;
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif; }

.mk-grid-encabezado {
  grid-area: encabezado; }

.mk-grid-categ-izq {
  grid-area: cuerpo-izq;
  display: inline-block; }

.mk-grid-categ-der {
  grid-area: cuerpo-der;
  display: inline-block; }

.section {
  background-color: black; }

@media (min-width: 768px) {
  .mk-contenedor {
    grid-template-areas: "encabezado encabezado" "cuerpo-izq cuerpo-der"; }
    .mk-contenedor li img {
      width: 150px;
      height: 150px; } }

.nosotros {
  background-image: url("../img/pesas2.jpg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0; }

.nosotros div p {
  color: #f5f5dc;
  font-size: medium;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  padding: 0;
  position: absolute;
  position: fixed;
  top: 50%;
  left: 50%;
  justify-content: center;
  transform: translate(-50%, -50%); }
