.mk-catalogo-fondo{
    background-image: url(../img/fondo-estrellas.jpg);
    color: #ffffff;
    font-size: 28px;
    font-weight: bolder;
}

.mk-catalogo-futbol{
    background-image: url(../img/fondo-azul.jpg);
    color: #ffffff;
}

.mk-catalogo{
    background-image: url(../img/fondo-azul.jpg);
}

.mk-btn{
    border: 2px solid #2464d2;
    font-family: "montserrat";
    font-size: 30px;
    font-weight: bolder;
    cursor: pointer;
    transition: 0.8s;
    position: relative;
    overflow: hidden;
    color: #ffffff;
  }
  
  .mk-btn1,.mk-btn2{
    color: #5dad55;
  }
  .mk-btn3,.mk-btn4{
    color: #fff;
  }
  .mk-btn1:hover,.mk-btn2:hover{
    color: #fff;
  }
  .mk-btn3:hover,.mk-btn4:hover{
    color: #5dad55;
  }
  .mk-btn::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #07078d;
    z-index: -1;
    transition: 0.8s;
  }
  .mk-btn1::before,.mk-btn3::before{
    top: 0;
    border-radius: 0 0 50% 50%;
  }
  .mk-btn2::before,.mk-btn4::before{
    bottom: 0;
    border-radius: 50% 50% 0 0;
  }
  .mk-btn3::before,.mk-btn4::before{
    height: 180%;
  }
  .mk-btn1:hover::before,.mk-btn2:hover::before{
    height: 180%;
  }
  .mk-btn3:hover::before,.mk-btn4:hover::before{
    height: 0%;
  }

  .mk-categ-link {
    text-decoration: none;
    color:#0f9213;
  }

  .mk-categ-link:hover{
      color: #ffffff;
  }


  .mk-categ-link-b {
    text-decoration: none;
    color:#ffffff;
  }

  .mk-categ-link-b:hover{
      color:#0f9213;
  }  
