.mk-footer-img{
    max-width: 50px;
    max-height: 50px;
    min-width: 25px;
    min-height: 25px;
}

footer{
background-color: #000000;

h3 {
      
    text-align: center;
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
}

