.mk-categoria {
    background-image: url(../img/fondo-azul.jpg);
    
}

.mk-contenedor {
    ul{
    list-style-type: none;
    display:inline-block;
  
  
    }
    li{
        float: left;
        img{
            padding: 5px 5px 5px 5px;
            width: 110px;
            height: 110px;
            border:3px solid #ffffff;

    }
    }

    h3 {
      
        text-align: center;
        color: #ffffff;
       }
    color: #ffffff;
    display: grid;
    grid-template-areas: "encabezado"
                          "cuerpo-izq"
                          "cuerpo-der";
    justify-content: center;


}


.mk-grid-encabezado{
    grid-area: encabezado;
}

.mk-grid-categ-izq{
    grid-area:cuerpo-izq ;
    display:inline-block;
}
.mk-grid-categ-der{
    grid-area:cuerpo-der ;
    display:inline-block;
}


.section {
    background-color: #ffffff;

}


@media (min-width:768px)
{
    .mk-contenedor {
    grid-template-areas: "encabezado encabezado"
                          "cuerpo-izq cuerpo-der";
                        li  img{
                            width: 150px;
                            height: 150px;
                
                    }
                        }


                         
}

